.tooltip-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
    transform: translateY(-10px);
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
}


/* Tooltip se objeví při hoveru a fokusu labelu */

.theme-switcher:hover+.tooltip-text,
.theme-switcher:focus+.tooltip-text {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(-5px);
}